/* Navbar */
.nav {
    padding: 0 0 0 30px;
    display: flex;
    justify-content: space-between;
    text-align: right;
    line-height: 70px;
}

.menu {
    font-size: 17px;
    margin: 0 30px 0 0;
}

.menu a {
    padding: 8px;
    clear: right;
    text-decoration: none;
    margin: 0 10px;
    line-height: 70px;
    transition: .3s;
}

.menu a:hover {
    background-color: rgba(247, 249, 187, 0.637);
    padding: 8px;
    border-radius: 10px;
    transition: .3s;
}

#menu-span {
    color: white;
    background-color: var(--text-color);
    padding: 5px 10px;
    border-radius: 5px;
}

#logo {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 17px;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}

#toggle {
    display: none;
}

/* Section 1: Hero */
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    margin-top: 100px;
    margin-bottom: 150px;
    padding: 0 200px;
    gap: 40px;
}

.hero-section .text {
    flex: 5;
}

.hero-section .text h1 {
    font-size: 35px;
    margin-bottom: 5px;
}

.hero-section .text .links {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.hero-section .text .links a {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.587);
    border: 1px solid var(--link-color);
    border-radius: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: .2s;
}

.hero-section .text .links a:hover {
    background-color: rgb(255, 255, 255);
    border: 1px solid var(--link-color);
}

.hero-section .portrait {
    flex: 1.5;
    display: flex;
    justify-content: right;
}

.hero-section .portrait img {
    width: 300px;
    border-radius: 50%;
}

/* Section 2: Projects */
.projects-section {
    padding: 0 200px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.projects-section h2 {
    font-size: 35px;
}

.projects-section .text .links {
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

.projects-section .text .links a {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.587);
    border: 1px solid var(--link-color);
    border-radius: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: .2s;
}

.projects-section .text .links a:hover {
    background-color: rgb(255, 255, 255);
    border: 1px solid var(--link-color);
}

/* Section 3: About Me */
.aboutme-section {
    padding: 0 200px;
    margin: 50px 0;
    margin-top: 100px;
    margin-bottom: 100px;
}

.aboutme-section h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

.aboutme-section .group {
    display: flex;
    align-items: center;
    gap: 50px;
}

.aboutme-section .group .person-details {
    text-align: center;
    flex: 2;
}

.aboutme-section .group .person-details img {
    width: 250px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.aboutme-section .group .person-details p {
    font-weight: 600;
}

.aboutme-section .group .person-details p:last-child {
    font-weight: normal;
}

.aboutme-section .group .text {
    flex: 8;
    padding: 0 40px;
    text-align: justify;
}

/* Section 4: CV */
.cv-section {
    padding: 0 200px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.cv-section h2 {
    font-size: 35px;
}

.cv-section .text {
    background-color: #ffffffa6;
    border-radius: 40px;
    padding: 15px;
    margin: 0px 160px;
    list-style: circle;
}

.cv-section .text li {
    margin-left: 20px;
}

.italic {
    font-style: italic;
}

/* Section 4: Skills */
.skills-section {
    padding: 0 200px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.skills-section h2 {
    font-size: 35px;
}

.skills-section .text {
    margin-bottom: 20px;
}

.skills-section .cells {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 72px;
}

.skills-section .cells .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 200px;
    padding: 10px 20px;
    margin: 10px;
    background-color: white;
    border: 1.5px solid lightgray;
    border-radius: 30px;
}

.skills-section .cells .cell img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 2px;
}

.skills-section .cells .cell span {
    font-size: 12px;
}

/* Section 5: Contact */
.contact-section {
    padding: 0 200px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.contact-section h2 {
    font-size: 35px;
}

.contact-section .group {
    display: flex;
    gap: 50px;
}

.contact-section .group .text {
    flex: 3;
    margin-top: 30px;
}

.contact-section .group form {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.contact-section .group form input,
.contact-section .group form textarea {
    font-family: 'Poppins', sans-serif;
    border: 2px solid rgba(72, 72, 72, 0.495);
    padding: 10px;
    margin-bottom: 15px;
    outline: none;
    resize: none;
}

.contact-section .group form button {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: rgb(193, 124, 169);
    border: none;
    height: 50px;
    cursor: pointer;
    transition: .2s;
}

.contact-section .group form button:hover {
    filter: brightness(.9)
}

/* Section 6: Footer */
footer {
    font-family: 'Poppins', sans-serif;
    background: #ffffff9c;
    color: black;
    text-align: center;
    padding: 20px 152px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footertext {
    font-size: 15px;
    margin: 0;
}

.footertext a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.footertext a:hover {
    text-decoration: underline;
}

.logo-picture {
    width: 150px;
    height: 150px;
}

footer i {
    font-size: 35px;
    padding: 0 5px;
    color: #565656c7;
    transition: .3s;
}

footer i:hover {
    color: black;
    transition: .3s;
}

.bold {
    font-weight: bolder;
}

/* Divider */
hr {
    color: #00000030;
    border-top: 1px solid;
    border-bottom: none;
    width: 105vh;
    margin: auto;
}

@media only screen and (max-width: 800px) {

    /* Navbar */

    .nav {
        padding: 0 30px 0 30px;
        flex-direction: column;
    }

    label {
        display: block;
        cursor: pointer;
    }

    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }

    .menu a {
        display: block;
        border-bottom: 1px solid #5a2a2a;
        margin: 0;
    }

    .logo {
        display: none;
    }

    .toggle-btn {
        font-size: 38px;
    }

    #toggle:checked+.menu {
        display: block;
    }
}


@media only screen and (max-width: 1154px) {

    /* Section 1: Hero */
    .hero-section {
        text-align: left;
        flex-direction: column-reverse;
    }

    .hero-section .portrait img {
        width: 300px;
    }

    .hero-section {
        padding: 0 20px;
        margin: 50px 10px 50px 10px;
    }

    .hero-section .text h1 {
        font-size: 28px;
        text-align: center;
    }

    .hero-section .text .links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Section 2: Projects */
    .projects-section {
        text-align: left;
        padding: 0 20px;
        margin: 50px 10px 50px 10px;
    }

    .projects-section h2 {
        font-size: 34px;
        text-align: center;
    }

    /* Section 3: About Me */
    .aboutme-section {
        padding: 0 20px;
        margin: 50px 10px 50px 10px;
    }

    .aboutme-section .group {
        flex-direction: column;
    }

    .aboutme-section .group .text {
        text-align: left;
        padding: 0;
    }

    .aboutme-section h2 {
        font-size: 34px;
    }

    /* Section 4: CV */
    .cv-section {
        padding: 0 20px;
    }

    .cv-section .text {
        margin: 0;
    }

    /* Section 4: Skills */
    .skills-section {
        padding: 0 20px;
    }

    .skills-section h2 {
        font-size: 34px;
        text-align: center;
    }

    .skills-section .cells .cell {
        font-size: 16px;
    }

    /* Section 5: Contact */
    .contact-section h2 {
        font-size: 34px;
        text-align: center;
    }

    .contact-section .group {
        flex-direction: column;
    }

    .contact-section {
        padding: 0 20px;
        margin: 50px 10px 50px 10px;
    }

    label {
        font-size: 18px;
    }

    /* Section 6: Footer */
    footer {
        flex-direction: column;
        padding: 0px 10px 0px 10px;
    }

    .footertext {
        margin: 10px;
    }

    .logo-picture {
        width: 130px;
        height: 130px;
    }

    /* Divider */
    hr {
        width: 30vh;
    }

}